################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GrpcService/gRpcClient/bin/Debug/net5.0
/GrpcService/gRpcClient/obj
/GrpcService/GrpcService/bin/Debug/net5.0
/GrpcService/GrpcService/obj
